/* CSS reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Styles */

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  background: #E7E5DF;
}

main {
  padding: 20px 10px;
}

h1, h2, h3, h4, strong {
  font-weight: bold;
}

a, input[type='text'], input[type='submit'] {
  transition: all 0.3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px #D3D0CB solid;
  color: #74726F;
}

header strong {
  color: #393E41;
}

header a {
  font-weight: bold;
}

header a:hover {
  color: #389A87;
}

.search {
  display: flex;
}

.search input:first-child {
  margin-right: 10px;
  padding: 5px;
}

.search input[type='submit'] {
  padding: 5px 10px;
  background: #E9C152;
  border-radius: 5px;
  color: #fff;
}

.search input[type='submit']:hover {
  background: #D2AA3C;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 30px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
}

.current-user a {
  color: #44BBA4;
}

.current-user a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
}

nav a {
  margin-left: 30px;
  padding: 10px;
  border: 2px solid #44BBA4;
  border-radius: 5px;
  color: #44BBA4;
}

nav a:hover {
  background: #44bba4;
  color: #fff;
}

nav a:active {
  transform: translateY(2px);
}

.hero {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('splash.jpg');
  background-size: cover;
  background-position: center;
  font-size: 36px;
}

.hero h1 {
  font-size: 80px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

.hero div {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.hero a {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #E7BB41;
  border: 4px #D2AA3C solid;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero a:hover {
  background: #D2AA3C;
}

.hero a:active {
  transform: translateY(2px);
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  padding: 20px;
  background: #393E41;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

footer .links {
  display: flex;
}

footer a {
  margin-right: 30px;
  color: #e7e5de;
}

footer span {
  text-align: right;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

form {
  /*width: 50%;*/
}

input[type='text'] {
  border: 1px #D3D0CB solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}

input[type='text']:focus {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: #74726F 0 0 2px;
}

input[type='submit']:active {
  transform: translateY(2px);
}

main input[type='text'] {
  padding: 10px;
}

main input[type='submit'] {
  padding: 10px;
  border-radius: 5px;
  background: #44BBA4;
  color: #fff;
}
