body {
  margin: 30px;
  display: flex;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.giphy-li {
  display: inline;
  padding-right: 10px;
}

img {
  border-radius: 5px;
}

.search-bar {
  padding-bottom: 15px;
  align-items: center;
}

input {
  width: 200px;
  height: 21px;
  font-size: 15px;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

button {
  padding: 10px;
  border: none;
  font-size: 12px;
  background: #acd;
}
